/*============================= ACHEIEVEMENTS =================================*/
.about_achievements {
    margin-top: 3rem;
}

.about_achievements_container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
}
.about_achievements_left {
    width: 98%;
    margin: auto;
}

.about_achievements_right>p {
    margin: 1.6rem 0 2.5rem;
}

.acheievements_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.acheievements_card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.acheievements_card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.achv_icon {
    background: var(--color-danger);
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.acheievements_card:nth-child(2) .achv_icon {
    background: var(--color-sucess);
}

.acheievements_card:nth-child(3) .achv_icon {
    background: var(--color-primary);
}

.acheievements_card p {
    margin-top: 1rem;
}

/*============================= TEAM MEMBER SECTION =================================*/
.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team_member {
    background: var(--color-bg2);
    padding: 0.6rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}



.team_member:hover {
    background: transparent;
    border-color: var(--color-primary);
}


.team_member_image img {
    border-radius: 10px;
    transition: var(--transition);
    height: 235px;
}

.team_member:hover .team_member_image {
    filter: saturate(0);
}

.team_member_info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team_member_info p {
    color: var(--color-light);
}

.team_member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team_member:hover .team_member-socials {
    right: 0;
}

.team_member-socials a {
    padding: 1rem;
}

.see_more_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    margin-bottom: -2rem;
}
.swiper-slide .img_box img {
    height: 350px;
}

/*============================= MEDIA QUERIES (TABLET) SECTION =================================*/
@media screen and (max-width: 1000px) {
    .about_achievements {
        margin-top: 2rem;
    }

    .about_achievements_container {
        /* grid-template-columns: 1fr;
        gap: 4rem; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about_achievements_left {
        width: 100%;
        margin: 26px auto 0px;
    }

    .team_container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team_member {
        padding: 1rem;
    }

    .team_member_image img {
        height: 235px;
    }
}

/*============================= MEDIA QUERIES (MOBILE) SECTION =================================*/
@media screen and (max-width: 600px) {
    .acheievements_card {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .acheievements_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .team_container {
        grid-template-columns: repeat(1, 2fr);
        gap: 1rem;
    }

    .team_member {
        padding: 1rem;
    }

    .team_member p {
        margin-bottom: 1.5rem;
    }

    .team_member_image img {
        height: auto;
    }

    .about_achievements_left {
        width: 100%;
        margin: 8px auto 0px;
    }
    .swiper-slide .img_box img {
        height: 245px;
    }
}
@media screen and (max-width: 380px){
    .swiper-slide .img_box img {
        height: 210px;
    }
}